.commitlintrc.js
.eslintignore
.eslintrc.js                              
.gitlab
.husky
.nycrc.json
.prettierignore
.prettierrc.json
.vscode
.npmrc.example
.npmrc
.nvmrc
jasmine.json
tslint.json
tsconfig*.json
src
node_modules
**/temp/*
**/resources/**
sonar-project.properties